/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/* Titles */
.site h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333;
}
.site a {
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

.site a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

.site a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}
.site h1 {
	font-size: 30px;
}


/* Paragraph & Typographic */
.site p {
    line-height: 28px;
    margin-bottom: 25px;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.site {
	background: white;
	box-shadow: 0px 7px 10px #2f2f2f;
	padding: 0 20px;
	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #555;
}
.site-title {
	background: white;
	padding: 20px;
	
}

.site-title h2 {
	font-weight: 400;
	color: white;
	text-align: center;
}

.site-footer {
	text-align: center;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.post {
	display: block;
	padding-top:15px;
	padding-bottom: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #ddd;
}

.post .pull-right {
	margin-top: -15px;
}

.post .glyphicon {
	font-size: 24px;
	color: #0ab671;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}
