/*======================================*/
/*========This is start of job.jsp=====*/
/*====================================*/
div#searchResult {
	border: 2px solid white;
	border-radius: 30px;
	margin: 5px auto;
}
#searchResult a, h1, h2, h3, h4, h5, h6 {
	display: inline-block;
	text-decoration: none;
}
#searchResult p {
	margin-left: 5px;
}
#searchResult img {
	margin: 10px 0;
}
/*======================================*/
/*========This is end of job.jsp=====*/
/*====================================*/
/*======================================*/
/*========This is start of adv.jsp=====*/
/*====================================*/
body {
    overflow-x: hidden;
}
.img-centered {
    margin: 0 auto;
}
section {
    padding: 0 0px;
    margin: auto;
}
#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 0 0px;
    padding: 0 0;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(24,188,156,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}
/*======================================*/
/*========This is end of adv.jsp=======*/
/*====================================*/
.navbar-brand img {
	display: inline-block;
	height: 20px;
}
div#home {
	background-image: url('/images/infographBG.png');
/* 	background-size: 100% 100%;
	background-repeat: no-repeat; */
	margin-bottom: 0;
	padding: 50px 0;
}
.form-group a {
	display: inline-block;
	text-decoration: none;
	color: #00b0e6;     /*Green: #00b488*/
    margin:  0px 10px;
    font-family: 'Open Sans';
}
.form-group a:hover,
.form-group a:focus {
	color: #777;
    background-color: transparent;
}
/*End of Header Navigation*/
/*Start of Body*/
div#bodyController {
    text-align: right;
    padding:  50px 0px;
}
#bodyButton {
    text-align: right;
    padding-top:  50px;
}
/*End of Body*/
/*Start of 3 rows*/
div#rowController {
    text-align: center;
}
#rowController img {
	width: 75%;
	height: 75%;
	margin: auto;
}
div#search {
	background-color: white;
}
/*End of 3 rows*/
/*Start of Site Map*/
#mapFooter ul {
	list-style: square;
}
#mapFooter ul li {
	margin: 3px 2px;
}
#mapFooter ul li a {
	display: inline-block;
	text-decoration: none;
	color: #777;
}
#mapFooter li a:hover {
	color: #00a1f1;
    font-size:  15px;
}
#mapFooter ul li a img {
	display: inline-block;
	opacity: 0.8;
}
#mapFooter li a img:hover {
    opacity:  1;
}

/*End of Site Map*/
/*Start of Footer*/
div#siteRule {
    display: inline-block;
}
#siteRule a {
    text-decoration:  none;
    color:  #3e3e3e;
    margin-left: 10px;
}
#siteRule a:hover,
#siteRule a:focus {
    color: #00b0e6;
}
/*End of Footer*/